.Rproj.user
.Rhistory
.RData
.Ruserdata
**.DS_Store
**R.Rproj
.Rbuildignore
SH.misc.Rproj
code/groundhog_libraries_2023-08-03/*
code/data/processed_data/GB_v2.0_prop.tsv
code/output/plots/tree_coverage.png
code/code.Rproj
